version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: harama-postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=harama
      - POSTGRES_DB=harama
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    container_name: harama-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data

  # Helper to create the bucket automatically
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/harama;
      /usr/bin/mc anonymous set public myminio/harama;
      exit 0;
      "

volumes:
  postgres_data:
  minio_data:
